/*
h1{
    height:50px;
    width:300px;
    background-color:blue;
 /*
    border-width:3px;
    border-style:dashed;
    border-color:black;
    text-align:center; 
    border:1px solid black;
} */
/*
div{
    height:250px;
    width:250px;
background-color:yellow;
border-width:2px;
border-style:solid;
border-color:red;
text-align:center;
}
*/

div{
    height:250px;
    width:250px;
background-color:yellow;
border:1px solid black;
/* border-radius:10px; */
/* border-radius:50%; */
/* padding-left:120px; */
/* padding:1px 2px 3px 4px;  */
/*          top right bottom left */                 */
margin-top:50px;
}