p{

}
#p1{
 font-size:25px;   
/* line-height:60px; */
/* text-transform:uppercase; */
/*text-transform:lowercase; */
/* text-transform:capitalize; */
/* text-transform:none; */

}
#p2{
    font-size:20px;
}
#p3{
    font-size:10px;
}