/*
h2{
    color:pink;
}
p{

    color:purple;
}

body{

   /* background-color:rgb(191,34,155); 
    background-color:#00ffff; 
   background-color:red;
}
*/

/* 
Universal selector 
*{
  color:blueviolet; 
}

*/


/* id selector

#heading{
    color:blue;
}

#heading2{
    color:brown;
}

#heading3{
    color:deepskyblue
}
*/

/*
class selector
.heading{
    color:aqua;
}

*/
